aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.5.0
async-timeout==4.0.2
attrs==21.4.0
branca==0.4.2
cachetools==5.0.0
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==2.0.10
Django==3.0.5
django-colorfield==0.6.3
django-crispy-forms==1.14.0
django-request==1.6.1
folium==0.12.1.post1
frozenlist==1.3.0
geographiclib==1.52
geoip2==4.5.0
geopy==2.2.0
idna==2.8
ipinfo==3.0.0
ipinfo-django==1.1.0
Jinja2==3.0.3
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
maxminddb==2.2.0
multidict==6.0.2
numpy==1.22.1
pandas==1.4.0
Pillow==9.0.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.24.0
six==1.13.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.25.7
wrapt==1.11.2
yarl==1.7.2
